html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    min-height: 100%;
    max-width: 500px;
}

.container__header{
    letter-spacing: 0.5px;
    text-align: center;
    margin: 1rem 0;
    box-sizing: border-box;
    padding: 0 2rem;
    font-size: 2rem;
    color: red;
}

.container__info{
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    padding: 0 0.2rem;
}